<%-include("partials/header"); %>
<form action="/compose" method="post">
<label>Title</label>
<input type="text" name="postTitle">
<label>Post</label>
<textarea name="postbody" id="postbody" cols="30" rows="10">
</textarea>
<button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>

<hr>

<footer id="footer-compose">
    <p>The Blog Page</p>
  <p><a href=" https://www.facebook.com/profile.php?id=100076524611426" target="_blank">Connect with me on Facebook</a></p>
  </footer>
  